.imgContainer {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardImg {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 170px;
    cursor: pointer;
    aspect-ratio: 0.8;
    margin: 1rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cardBtn {
    margin: 0 1rem;
}

.normalbg {
    background-color: white;
}
.urgentbg {
    background-color: darkred;
    color: white;
}
/* On mouse-over, add a deeper shadow */
/*.card:hover {*/
    /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);*/
/*}*/

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}